@import '../../../scss/00_imports';
:host-context(.c-svg-object) {
  --a-start: 0%;
  --a-end: 0%;
  --progress-start: 0%;
  --progress-end: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 100%;
  width: 100%;
  &:before {
    position: absolute;
    z-index: 4;
    content: '';
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      rgba(color('dark'), 0) var(--progress-start),
      rgba(color('dark'), 0.85) var(--progress-end)
    );
    mask: $noiseFilter,
      radial-gradient(
        circle,
        rgba(color('darker'), 0) var(--progress-start),
        rgba(color('darker'), 1) var(--progress-end)
      );
  }
}

.proton {
  position: relative;
  z-index: 4;
  flex-shrink: 0;
  height: 86%;
  width: 86%;
}

.group-3 {
  color: color('accent1');
}

.group-2 {
  color: color('accent2');
}
