<svg #void fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460 460">
  <g>
    <circle #circle3 cx="230" cy="230" r="197" stroke="#FFA73F" stroke-width="1" />
    <circle #circle3 cx="230" cy="230" r="177.5" stroke="#FFA944" stroke-width="1" />
    <circle #circle3 cx="230" cy="230" r="158" stroke="#FFB257" stroke-width="1" />
    <circle #circle3 cx="230" cy="230" r="138.5" stroke="#FFB257" stroke-width="1" />
    <circle #circle3 cx="230" cy="230" r="119" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle3 cx="230" cy="230" r="99" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle3 cx="230" cy="230" r="79.5" stroke="#FFB257" />
    <circle #circle3 cx="230" cy="230" r="59.625" stroke="#FFB257" stroke-width=".75" />
    <circle #circle3 cx="230" cy="230" r="39.775" stroke="#FFB257" stroke-width=".45" />
    <circle #circle3 cx="230" cy="230" r="19.5" stroke="#FFB257" stroke-width=".45" />
  </g>
  <g>
    <circle #circle2 cx="230" cy="230" r="197" stroke="#FFA73F" stroke-width="1" />
    <circle #circle2 cx="230" cy="230" r="177.5" stroke="#FFA944" stroke-width="1" />
    <circle #circle2 cx="230" cy="230" r="158" stroke="#FFB257" stroke-width="1" />
    <circle #circle2 cx="230" cy="230" r="138.5" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle2 cx="230" cy="230" r="119" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle2 cx="230" cy="230" r="99" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle2 cx="230" cy="230" r="79.5" stroke="#FFB257" />
    <circle #circle2 cx="230" cy="230" r="59.625" stroke="#FFB257" stroke-width=".75" />
    <circle #circle2 cx="230" cy="230" r="39.775" stroke="#FFB257" stroke-width=".45" />
    <circle #circle2 cx="230" cy="230" r="19.5" stroke="#FFB257" stroke-width=".45" />
  </g>
  <g>
    <circle #circle cx="230" cy="230" r="197" stroke="#FFA73F" stroke-width="1" />
    <circle #circle cx="230" cy="230" r="177.5" stroke="#FFA944" stroke-width="1" />
    <circle #circle cx="230" cy="230" r="158" stroke="#FFB257" stroke-width="1" />
    <circle #circle cx="230" cy="230" r="138.5" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle cx="230" cy="230" r="119" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle cx="230" cy="230" r="99" stroke="#FFB257" stroke-width="0.75" />
    <circle #circle cx="230" cy="230" r="79.5" stroke="#FFB257" />
    <circle #circle cx="230" cy="230" r="59.625" stroke="#FFB257" stroke-width=".75" />
    <circle #circle cx="230" cy="230" r="39.775" stroke="#FFB257" stroke-width=".45" />
    <circle #circle cx="230" cy="230" r="19.5" stroke="#FFB257" stroke-width=".45" />
  </g>
  <g filter="url(#filter0_d)">
    <circle #theLight cx="230" cy="230" r="20" fill="url(#paint0_radial)" />
  </g>
  <defs>
    <filter
      id="filter0_d"
      x="176"
      y="176"
      width="108"
      height="108"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
      <feOffset />
      <feGaussianBlur stdDeviation="17" />
      <feColorMatrix values="0 0 0 0 1 0 0 0 0 0.283333 0 0 0 0 0.412333 0 0 0 1 0" />
      <feBlend in2="BackgroundImageFix" result="effect1_dropShadow" />
      <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
    </filter>
    <radialGradient
      id="paint0_radial"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      gradientTransform="rotate(90 0 230) scale(28)"
    >
      <stop offset=".438" stop-color="#FFF9EA" />
      <stop offset="1" stop-color="#FF8A00" />
    </radialGradient>
  </defs>
</svg>
